

<h3 *ngIf="products; else noProduct">{{title}}</h3>

<div class="form-group">
    <input class="form-control" id="productName" placeholder="Search"
    [(ngModel)]="filterText"
      >
    <small *ngIf="filterText" class="form-text text-muted">You searched <strong>{{filterText}}</strong></small>
  </div>

<div class="row">
    <ng-template #noProduct>
        <div class="alert alert-warning" role="alert">
            Product not found in this category
        </div>
    </ng-template>
    <!--product is changeable a name, any name can be give-->
    <div *ngFor="let product of products | productFilter:filterText" class="card" style="width: 18rem;">
        <img [src]="product.imageUrl" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{product.name}}  {{product.price | currency:'USD':true:"1.0"}}</h5>
            <p class="card-text">{{product.description}}</p>
            <a (click)="addToCard(product)" href="#" class="btn btn-primary">Add to card</a>
        </div>
    </div>
</div>